@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #212529;
    --color-bg-variant: #3a3e4d ;
    --color-primary: #9a8c98;
    --color-primary-variant: #c9ada7;
    --color-white: #d5cdc8;
    --color-whitist: #f7f6f6;


    /* --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%; */

    --transition: all 400ms ease;
    /* --transition-icon: all 2s ease-in-out; */
}

html{ 
    scroll-behavior: smooth;
    font-family: 'Zilla Slab', serif;
}

::-webkit-scrollbar {
    display:none;
    
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    background-color: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
}

/* THIS AREA IS THE NAVBAR START */
.nav {
    /* border: red solid 2px; */
    display: flex;
    padding: 1rem;
    margin: auto;
}

.navItem {
    padding: 0 2rem;
}

.title {
    font-size: 2.5rem;
    font-family: 'Zen Antique', serif;
}

.btn {
    background: none;
    font-family: 'Zilla Slab', serif;
    margin: 1rem;
    color: #be89e9;
    border: #9d4edd solid 1px;
    border-radius: 1rem;
}

.btn:hover {
    color: var(--color-white);
    border: var(--color-white) solid 1px;

}
/* THIS AREA IS THE NAVBAR END */

/* THIS AREA IS THE CARD SECTION START */

.container {
    /* border: red solid 1px; */
    border-radius: .5rem;
    background-color: #fefae0;
    margin: 1rem 2rem;
    display: flex;
    padding: 1.5rem;
}

.card {
    /* border: red solid 1px; */
    border-radius: .5rem;
    background-color: var(--color-bg);
    color: var(--color-white);
    padding: .5rem;
}